<a href="https://colab.research.google.com/github/jrctechmind/exemplos/blob/main/BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Criar conexão com o banco de dados
conn = sqlite3.connect('hierarchical.db')
cursor = conn.cursor()

# Criar tabela de categorias
cursor.execute('''
CREATE TABLE categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    parent_id INTEGER,
    FOREIGN KEY (parent_id) REFERENCES categories(id)
);
''')

# Inserir categorias
cursor.execute('INSERT INTO categories (name) VALUES (?)', ('Roupas',))
cursor.execute('INSERT INTO categories (name, parent_id) VALUES (?, ?)', ('Camisetas', 1))
cursor.execute('INSERT INTO categories (name, parent_id) VALUES (?, ?)', ('Calças', 1))
cursor.execute('INSERT INTO categories (name, parent_id) VALUES (?, ?)', ('Vestidos', 1))

# Consultar categorias
cursor.execute('SELECT * FROM categories')
categories = cursor.fetchall()
for category in categories:
    print(category)

# Fechar conexão com o banco de dados
conn.close()

(1, 'Roupas', None)
(2, 'Camisetas', 1)
(3, 'Calças', 1)
(4, 'Vestidos', 1)